#Ignoring Private SSH Keys of VMs
*.key
keys/
*.ssh/
*.aws/
*vault_pass.txt
*.cache/
*.vagrant/
Vagrantfile
ansiblevm/backup_scripts/
git_rsa
old_scripts/
relevant_scripts/
.aws/
inventory
*.pem

aws.js
keys/
ping.yml
*.retry
.viminfo
.bash_history
node_modules/
package-lock.json
checkbox.io/
*.swp
.vscode/

